@font-face {
    font-family: 'CustomFont';
    src: url('./Ckhans Fonts - Buckin Bold Demo.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
  }
  